*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: #000;
}
#logo{
    border-bottom: none;
    position: relative;
    top: 15px;
    padding: 0 15px;
    margin: 0;
}
#logo img{
    width: 80px
}
.nav{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    /* height: 140px; */
    position: fixed;
    background-color: whitesmoke;
    z-index: 10;
    -webkit-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 24px -4px rgba(0,0,0,0.75);;
}
.nav ul li{
    font-size: 19px;
    color: #000;
    display: inline-block;
    padding:0 30px;
    padding-bottom: 20px;
    margin: 0 40px;
   /* height: 10px; */
}
.nav ul li:hover{
    border-bottom: 3px solid red;
}


.main{
    position: relative;
    top: 50px;
    color: white;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./images/sweets.jpg');
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
 }
 
 .give-feed a{
     color: white;
     padding: 9px 30px;
     border: 2px solid white;
     border-radius: 3px;
 }
 .give-feed a:hover{
     border: 4px solid white;
 }

 @media screen and (max-width : 935px) {
    .nav{
        background-color:coral;
    }
    .nav ul li{
        margin: 0 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    }

    @media screen and (max-width : 660px) {
        .nav ul li{
            display: block;
            padding-top: 20px;
        }
        .nav{
            position: static;
            box-shadow: none;
        }
        .nav ul li:hover{
         border-bottom: 3px solid white;
        }
        .main{
            position: static;
        }
    }